<div id="page-container" class="border border-primary rounded sm mb-0 ">
  <div id="edit-cont" class="row">
    <button id="edit" (click)="edit = true" class="btn-primary col-1">EDIT</button>
    <button id="logout" class="btn-warning col-1" (click)="logout()">LOGOUT</button>
  </div>
  <div class="row">
    <div id="pic-container" class="col-4">
      <img src="../assets/profilePic.jpg" alt="" />
    </div>

    <div id="personal-info" class="col-sm">
      <h3>First Name: {{ user.firstName }}</h3>
      <br>
      <h3>Last Name: {{ user.lastName }}</h3>
      <br>
      <h3>Date Of Birth: {{ userProfile.DOB }}</h3>
      <br>
      <h3>City, State</h3>
    </div>
  </div>

  <div id="main-container" class="row">
  <div id="interests" class="col-5">
    <h2>Favorite Food</h2>
    <p>{{ favFood }}</p>
    <br>
    <h2>Favorite Movie</h2>
    <p>{{ favMovie }}</p>
    <br>
    <h2>Favorite Artist</h2>
    <p>{{ favArtist }}</p>
    <br>
    <h2>Interests</h2>
    <p>{{ interests }}</p>
  </div>

  <form
    [formGroup]="profileForm"
    *ngIf="edit"
    (ngSubmit)="onSubmit(profileForm.value)"
    class="col-5"
  >
    <div class="form-group">
      <label>
        Picture URL
      </label>
      <input
        id="picURL"
        type="text"
        formControl="picURL"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label>
        Date of Birth
      </label>
      <input
        id="dob"
        type="date"
        [formControl]="dob"
        class="form-control"
        ngModel
      />
    </div>

    <div class="form-group">
      <label>
        City and State
      </label>
      <input
        id="address"
        type="address"
        formControl="address"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label>
        Favorite Food
      </label>
      <input
        id="favFood"
        type="text"
        formControl="favFood"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label>
        Favorite Movie
      </label>
      <input
        id="favMovie"
        type="text"
        formControl="favMovie"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label>
        Favorite Artist
      </label>
      <input
        id="favArtist"
        type="text"
        formControl="favArtist"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label>
        Other Interests
      </label>
      <input
        id="interests"
        type="text"
        formControl="interests"
        class="form-control"
      />
    </div>

    <button class="btn-primary" type="submit">Save</button>
  </form>
  </div>
</div>
<footer>
</footer>
